/* Write your CSS here */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.notfound-image {
  width: 100%;
  max-width: 400px;
}
.notfound-para{
  color:#616e7c;
  margin-top:20px;
  font-family: 20px;
  font-weight: bold;
}